{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block content %}

{% load_remember_me %}

<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-12-of-12">
            <h2>{{ page.title }}</h2>

            <div class="ak-mobile-padding ak-text-expander">
                {% include_tmpl form.introduction_text %}
            </div>
            <a href="#" class="ak-read-more ak-mobile" data-lines="25">Read more</a>
        </div>
    </div>

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-4-of-12">
            
            {% if page.custom_fields.featured_image %}
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}
            
            <div id="survey-contact" class="ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
                {% include "./user_form_wrapper.html" %}
            </div>
            
            {% include "./progress_meter.html" %}
            
        </div>
        <div id="ak-survey-questions" class="ak-grid-col ak-grid-col-8-of-12">
            <div class="ak-field-box ak-field-box-padded ak-styled-fields ak-labels-above {{templateset.custom_fields.field_errors_class|default:"ak-errs-above"}}">

                {% autoescape off %}
                    {% for question in form.surveyquestion_set.all %}
                    <div>
                        <label class="ak-survey-question-label">
                            {{ question.question_label }}
                        </label>
                        {{ question.input_html }}
                    </div>
                    {% endfor %}
                {% endautoescape %}
				<div class="clear"></div>

                <button type="submit" class="ak-submit-button">{% if page.custom_fields.submit_button_name %}{{ page.custom_fields.submit_button_name }}{% else %}Submit Survey{% endif %}</button>
            </div>
        </div>

    </div>
</form>

<script>

$(window).load( function() {
	var url = new URL(window.location.href);
	var event_id = url.searchParams.get("event_id");

	$("#id_action_event_id").closest('.ak-err-above').hide();
	
	if (event_id) {
		$("#id_action_event_id").val(event_id);
	}
	
	$("#id_action_text_their_list_yes").on("click", function () {
		$("#id_action_text_their_list_instructions").prop("required", true);
	});
});

</script>

{% if page.custom_fields.include_widget %}
<!-- Start of justicedemocrats Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="justicedemocrats.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of justicedemocrats Zendesk Widget script -->
{% endif %}

{% endblock %}
